body {
    background-image: url('../assets/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.overlay {
    background: #00000026;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100vh; */
}